.wbdv-sticky-nav-bar {
  background-color: white;
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 55px;
}

#topnav {
  padding-right: 10%;
}

.course-manager {
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: medium;
}

.fa-plus-circle {
  color: red;
}